<p><%= t "hello" %><%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t "we_are_contact" %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t "we_are_contact" %><%= @resource.email %>.</p>
<% end %>
